<doc-view>
  <p>当前的值是：{{model}}</p>
  <ui-switch [(ngModel)]="model"></ui-switch>
  <ui-switch class="primary" [(ngModel)]="model"></ui-switch>
  <ui-switch class="info" [(ngModel)]="model"></ui-switch>
  <ui-switch class="success" [(ngModel)]="model"></ui-switch>
  <ui-switch class="warning" [(ngModel)]="model"></ui-switch>
  <ui-switch class="danger" [(ngModel)]="model"></ui-switch>

  <p style="font-size: 30px;">
    <ui-switch class="danger" [(ngModel)]="model"></ui-switch>
  </p>

</doc-view>