<div class="row page-content">
  <div class="col-md-2 left-nav">
    <h3>UiNativeModule</h3>
    <div class="list-group row">
      <h4 class="list-title">准备工作</h4>
      <div class="list">
        <a href="javascript:;" routerLink="./intro" routerLinkActive="active" class="list-item">简介</a>
      </div>
      <h4 class="list-title">服务</h4>
      <div class="list">
        <a href="javascript:;" routerLink="./nav-controller" routerLinkActive="active"
           class="list-item">导航</a>
      </div>
      <h4 class="list-title">生命周期</h4>
      <div class="list">
        <a href="javascript:;" routerLink="./view-enter" routerLinkActive="active"
           class="list-item">OnViewEnter</a>
        <a href="javascript:;" routerLink="./view-leave" routerLinkActive="active"
           class="list-item">OnViewLeave</a>
      </div>
      <h4 class="list-title">组件(正在编辑中...)</h4>
      <div class="list">
        <a href="javascript:;" class="list-item">ui-native-app</a>
        <a href="javascript:;" class="list-item">ui-content</a>
        <a href="javascript:;" class="list-item">ui-footer</a>
        <a href="javascript:;" class="list-item">ui-header</a>
        <a href="javascript:;" class="list-item">ui-back</a>
        <a href="javascript:;" class="list-item">ui-button</a>
        <a href="javascript:;" class="list-item">ui-title</a>
        <a href="javascript:;" class="list-item">ui-page</a>
        <a href="javascript:;" class="list-item">ui-tab</a>
        <a href="javascript:;" class="list-item">ui-tab-bar</a>
        <a href="javascript:;" class="list-item">ui-tab-bar-item</a>
        <a href="javascript:;" class="list-item">ui-tab-view</a>
        <a href="javascript:;" class="list-item">ui-tab-view-item</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 right-content">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-4" style="float: right">
    <br>
    <native-demo></native-demo>
  </div>
</div>