<doc-view>
  <div>
    <ui-input [(ngModel)]="checkbox1" type="checkbox" name="checkbox1"></ui-input>
    {{checkbox1}}
  </div>
  <div>
    <ui-input [(ngModel)]="checkbox2" class="primary" type="checkbox" name="checkbox2"></ui-input>
    {{checkbox2}}
  </div>
  <div>
    <ui-input [(ngModel)]="checkbox3" class="info" type="checkbox" name="checkbox3"></ui-input>
    {{checkbox3}}
  </div>
  <div>
    <ui-input [(ngModel)]="checkbox4" class="success" type="checkbox" name="checkbox4"></ui-input>
    {{checkbox4}}
  </div>
  <div>
    <ui-input [(ngModel)]="checkbox5" class="warning" type="checkbox" name="checkbox5"></ui-input>
    {{checkbox5}}
  </div>
  <div>
    <ui-input [(ngModel)]="checkbox6" class="danger" type="checkbox" name="checkbox6"></ui-input>
    {{checkbox6}}
  </div>
</doc-view>