<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-button>
        <ui-back>
          <span class="icon icon-circle-left"></span>
        </ui-back>
      </ui-button>
      <ui-title>
        父级页面1
      </ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <div class="container-fluid">
      <p>这里是内容</p>
    </div>
  </ui-content>
  <ui-footer>
    <button style="height: 100%;" (click)="toPage()" type="button" class="btn btn-primary btn-block">点我去下一个页面</button>
  </ui-footer>
</ui-page>