.slide-wrap {
    height: 200px;
}

ui-slide-item {
    font-size: 40px;
    line-height: 200px;

}

.slide1 {
    background-color: #3fc17a;
}

.slide2 {
    background-color: #c1674c;
}

.slide3 {
    background-color: #4e64c1;
}