<div class="btns" *ngIf="isShowExample">
  <a [ngClass]="showType === 'example' ? 'active' : ''"
     (click)="setShowType('example')"
     href="javascript:;">示例</a>
  <a *ngIf="tsHtml"
     [ngClass]="showType === 'ts' ? 'active' : ''"
     (click)="setShowType('ts')" href="javascript:;">TypeScript</a>
  <a *ngIf="templateHtml"
     [ngClass]="showType === 'html' ? 'active' : ''"
     (click)="setShowType('html')" href="javascript:;">HTML</a>
  <a *ngIf="styleSheetHtml"
     [ngClass]="showType === 'styleSheet' ? 'active' : ''"
     (click)="setShowType('styleSheet')"
     href="javascript:;">StyleSheet</a>
</div>
<div *ngIf="isShowExample" class="doc-content">
  <div class="demo" [ngClass]="{active: showType === 'example'}">
    <ng-content></ng-content>
  </div>
  <div [ngClass]="{active: showType === 'ts'}" [innerHTML]="tsHtml"></div>
  <div [ngClass]="{active: showType === 'html'}" [innerHTML]="templateHtml"></div>
  <div *ngIf="styleSheetHtml" [ngClass]="{active: showType === 'styleSheet'}" [innerHTML]="styleSheetHtml"></div>
</div>
<div *ngIf="docHtml">
  <h3>文档详情</h3>
</div>
<div *ngIf="docHtml" class="markdown-doc" [innerHTML]="docHtml"></div>
<br><br>