<div class="row page-content">
  <div class="col-md-2 left-nav">
    <h3>UiFormsModule</h3>
    <div class="list-group row">
      <h4 class="list-title">组件</h4>
      <div class="list">
        <a href="javascript:;" routerLink="./button" routerLinkActive="active" class="list-item">按扭</a>
        <a href="javascript:;" routerLink="./radio" routerLinkActive="active" class="list-item">单选框</a>
        <a href="javascript:;" routerLink="./checkbox" routerLinkActive="active" class="list-item">复选框</a>
        <a href="javascript:;" routerLink="./range" routerLinkActive="active" class="list-item">区间选择器</a>
        <a href="javascript:;" routerLink="./date" routerLinkActive="active" class="list-item">时间选择器</a>
        <a href="javascript:;" routerLink="./select" routerLinkActive="active" class="list-item">下拉框</a>
        <a href="javascript:;" routerLink="./switch" routerLinkActive="active" class="list-item">开关</a>
      </div>
      <h4 class="list-title">指令</h4>
      <div class="list">
        <a href="javascript:;" routerLink="./validate-form" routerLinkActive="active"
           class="list-item">uiValidateForm</a>
        <a href="javascript:;" routerLink="./validate-model" routerLinkActive="active"
           class="list-item">uiValidateModel</a>
      </div>
    </div>
  </div>
  <div class="col-md-10 right-content">
    <router-outlet></router-outlet>
  </div>
</div>