<ui-view-loading-bar></ui-view-loading-bar>
<ui-starry-sky></ui-starry-sky>
<ui-app style="height: 100%">
  <header>
    <div class="container">
      <h1 class="brand pull-left" (click)="show()">TanBo-UI</h1>
      <div class="pull-left">1.4.9</div>
      <div class="header-nav pull-right">
        <ul class="clearfix list-unstyled">
          <li class="pull-left">
            <a routerLinkActive="active" routerLink="base-info" href="javascript:;">
              <span class="icon icon-home"></span>
              简介</a>
          </li>
          <li class="pull-left"><a routerLinkActive="active" routerLink="components"
                                   href="javascript:;">
            <span class="icon icon-embed2"></span>
            组件</a>
          </li>
          <li class="pull-left"><a routerLinkActive="active" routerLink="directives"
                                   href="javascript:;">
            <span class="icon icon-terminal"></span>
            指令</a></li>
          <li class="pull-left"><a routerLinkActive="active" routerLink="forms" href="javascript:;">
          <span class="icon icon-newspaper"></span>
          表单</a></li>
          <li class="pull-left"><a routerLinkActive="active" routerLink="native" href="javascript:;">
            <span class="icon icon-mobile"></span>
            移动端</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="page">
    <div class="view-container page-content">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      备案号：浙ICP备17024329号
    </div>
  </div>
</ui-app>


