<doc-view>
  <p>选中结果：{{range}}</p>
  <div><ui-input type="range" name="range" [(ngModel)]="range"></ui-input></div>
  <div><ui-input class="primary" type="range" name="range" [(ngModel)]="range"></ui-input></div>
  <div><ui-input class="info" type="range" name="range" [(ngModel)]="range"></ui-input></div>
  <div><ui-input class="success" type="range" name="range" [(ngModel)]="range"></ui-input></div>
  <div><ui-input class="warning" type="range" name="range" [(ngModel)]="range"></ui-input></div>
  <div><ui-input class="danger" type="range" name="range" [(ngModel)]="range"></ui-input></div>
</doc-view>