<div class="pull-left nav">
  <div class="nav-list-group">
    <h4 class="list-title">组件</h4>
    <div class="list">
      <a href="javascript:;" routerLink="./confirm" routerLinkActive="active" class="list-item">confirm</a>
      <a href="javascript:;" routerLink="./drop-down" routerLinkActive="active" class="list-item">drop-down</a>
      <a href="javascript:;" routerLink="./notify" routerLinkActive="active" class="list-item">notify</a>
    </div>
    <h4 class="list-title">服务</h4>
  </div>
</div>
<div class="content">
  <br>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>